<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= author.userName %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="https://kit.fontawesome.com/e23e3d5407.js"></script>
  </head>
  <body class="bg-light">
    <%- include('../nabbar.ejs') -%>
    <div class="container">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="card card-body my-5">
            <div>
              <img
                src="<%= author.profilePics %>"
                class="img-thumbnail img-fluid rounded-circle"
                width="200px"
                height="200px"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../footer.ejs') -%>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
    <script src="/scripts/bookmark.js"></script>
    <script src="/scripts/likeDislike.js"></script>
    <script src="/scripts/comment.js"></script>
  </body>
</html>
