<nav id="sidebarMenu" class="d-md-block bg-light sidebar collapse">
  <div id="sidebar" class="my-5">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/api/dashbord/">DashBord</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/dashbord/create-posts">New Post</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/dashbord/posts">My Posts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/dashbord/bookmarks">Bookmarks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/dashbord/comments">Comments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/dashbord/edit-profile">Edit Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/user/change-password">Change Password</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/user/logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
