<footer class="footer-light bg-dark text-white text-center pt-3 pb-1">
  <p class="lead">
    Copywrite &copy; 2021, Web<span class="battle">
      <i class="fab fa-battle-net" style="color: gold"></i> </span
    >Blog, Created By Tarikul Islam
  </p>
</footer>
