<footer class="footer-light bg-dark text-white text-center p-3">
  <h5 class="lead">
    Copywrite &copy; 2021, Web<span class="battle">
      <i class="fab fa-battle-net" style="color: gold"></i> </span
    >Blog, Created By Tarikul Islam
  </h5>
</footer>
